<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second</title>
</head>
<body>
<h3 style="text-align: center"><u><b>Hi! Welcome to Secolator</b></u></h3>
<br>
<form method="get" action="/Result">
    Enter an operand <br>
    <textarea name="a" style="width: 191px; height: 26px;" ></textarea><br>
    Enter an operand <br>
    <textarea name="ab" style="width: 191px; height: 26px;" ></textarea><br>
    Enter an operator <br>
    <textarea name="abc" style="width: 191px; height: 26px;" ></textarea><br>
    <button type="submit">Submit
</form>
</body>
</html>